parameters:
    bootstrapFiles:
        - config/bootstrap.php
    level: max
    paths:
        - src

    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true
